<html>

  <head>
    <ul class="nav-bar">
      <h1 class="nav-item">J-Finder</h1>
      <li class="nav-item"><a href="default.asp">Home</a></li>
      <li class="nav-item"><a href="news.asp">News</a></li>
      <li class="nav-item"><a href="contact.asp">Contact</a></li>
      <li class="nav-item"><a href="about.asp">About</a></li>
    </ul>

    <title>J-Finder</title>
  </head>

  <body>
    <div class="main">
      <ul class="cards">
    <% @jobs_array.each do |entry| %>
    <li class="cards_item">
      <div class="card">
        <div class="card_content">

      <h2 class="card_title">
        <%= entry.position[:position] %>
      </h2>
      <p><%= entry.company[:company] %></p>
      <p><%= entry.date[:date] %></p>
      <p class="card_text">
        <%= entry.description[:description] %>
      </p>

      <a target="_blank" href=<%= "https://#{entry.url[:url]}" %>>

        <button class="btn"> View Posting
        </button>
      </a>

      </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

  </body>
</html>



<div class="briefcase">

  <div class="topface">
    <span class="separator"></span></div>

  <div class="topface-separator">
    <p>Job</p>
    <p>Date</p>
    <span class="left"></span>
    <span class="right"></span>
  </div>

  <div class="strap left"><span class="top"> </span></div>
  <div class="strap right"><span class="top"></span></div>
  <div class="button left"></div>
  <div class="button right"></div>
  <div class="handle"></div>
</div>
