<html>
  <head>
    <ul class="nav-bar">
      <h1 class="nav-item">J-Finder</h1>
      <li class="nav-item"><a href="default.asp">Home</a></li>
      <li class="nav-item"><a href="news.asp">News</a></li>
      <li class="nav-item"><a href="contact.asp">Contact</a></li>
      <li class="nav-item"><a href="about.asp">About</a></li>
    </ul>

    <title>J-Finder</title>
  </head>

  <body>
    <div class="main">

    <ul class="new">

    <% @jobs_array.each do |entry| %>
    <li class="item">
    <div class="briefcase">

      <div class="topface">
        <span class="separator"></span>
      </div>

      <div class="strap left"><span class="top"></span>
      </div>

      <div class="strap right"><span class="top"></span>
      </div>

        <div class="topface-separator">

          <span class="left"></span>
          <span class="right"></span>

          <div class="data">

          <h2> <%= entry.position[:position] %> </h2>
          <p> <%= entry.company[:company] %> </p>
          <p> <%= entry.date[:date] %> </p>
          <p> <%= entry.description[:description] %> </p>

          <a target="_blank" href=<%= "https://#{entry.url[:url]}" %>>

            <button class="btn"> View Job
            </button>

          </a>
        </div>
      </div>



        <div class="button left">

        </div>

        <div class="button right">

        </div>

        <div class="handle">

        </div>

    </div>
  </li>
      <% end %>
    </ul>
  </div>

  </body>

</html>
